.dashBoard {
  display: flex;
  height: 100vh;

  .dashboard-container {
    flex: 6;

    .flex-container {
      display: flex;
    }

    .flex-card {
      display: flex;

      .card {
      }
    }
  }
}
