.form-container {
  background-color: #ccc;
  border-radius: var(--radius);
  margin: 0 1rem;
  form {
    margin: 0;
    .container {
      margin: 0 2rem;
      padding-bottom: 1.2rem;

      .flex-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 2rem;
        justify-content: space-between;
        .input-container {
          align-items: center;
          text-align: center;
          padding: 1.4rem 0;
          gap: 0.5rem;
          display: flex;

          label {
            font-size: 20px;
          }

          input::file-selector-button {
            border: none;
            padding: 5px;
            border-radius: var(--radius);
          }

          .input-style,
          select {
            width: 180px;
            height: 22px;
            font-size: 20px;
            text-decoration: none;
            border: none;
            background: none;
            border-bottom: 1px solid #000;
            // padding-right: 5px;
          }
        }

        .description {
          display: block;
          width: 100vw;
          height: 140px;
          padding: 3px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 1rem;
          border: none;
          border-radius: var(--radius);
        }
        .center {
          text-align: start;
        }

        .cancel-btn,
        .create-btn {
          border: none;
          padding: 5px;
          border-radius: var(--radius);
        }

        .create-btn {
          background: var(--clr-green-dark);
        }
        .cancel-btn {
          background: var(--clr-red-light);
        }
      }
      .img-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 0 2rem;

        .img-product {
          width: 100px;
          min-height: 80px;
          border-radius: 3px;
          border: 1px solid #fff;
        }
      }
    }
  }
}
