.profile {
  display: flex;
  height: 100vh;

  .container {
    flex: 6;

    .search {
      margin-right: 1.3rem;
      text-align: center;
      padding-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .search-box {
        background: #a09e9e;
        text-align: center;
        padding: 0.5rem;
        border-radius: 5px;

        button,
        input {
          border: none;
          padding: 0.2rem;
          background-color: transparent;
        }

        .search-icon {
          font-size: 1.2rem;
          margin-right: 10px;
        }
      }
      hr {
        width: 350px;
        border-top: 1px solid #000;
      }
    }

    .flex-product {
      display: flex;
      flex-wrap: wrap;
    }

    .pagination-cont {
      margin: 2rem 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .cont {
        background: #c6c5c5;
        padding: 0.8rem;
        border-radius: var(--radius);
        display: flex;

        .icon-arrow {
          background: #fdfdfe;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 0.5rem;
          padding: 0.7rem;
          border-radius: var(--radius);
          width: 120px;

          button {
            text-decoration: none;
            border: none;
            background: transparent;
            margin: 0 0.5rem;
          }
        }

        .icon-arrow:hover {
          background: #e3e3e3;
        }
      }
    }
  }
}

// Product Style
.main-prod {
  background: #d1d1d1;
  border-radius: var(--radius);
  .product-container {
    background: #a09e9e;
    display: block;
    margin: 1rem;
    width: 210px;
    border-radius: 5px;
    .productImg {
      .img {
        width: 210px;
        height: 150px;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      padding: 0.7rem 0.5rem 0.7rem 0;
      padding-left: 1rem;
      text-align: center;

      .deleteBtn,
      .editBtn {
        color: #000;
        border-radius: 5px;
        padding: 0.3rem;
        width: 70px;
        text-decoration: none;
      }

      .deleteBtn:hover,
      .editBtn:hover {
        background: #d1d1d1;
      }

      .icon {
        margin-right: 0.33rem;
        font-size: 13px;
      }
      .editBtn {
        background: #fdfdfe;
        text-align: center;
      }

      .deleteBtn {
        background: #fdfdfe;
        text-decoration: none;
        border: none;
        text-align: center;
      }
    }
  }
}
