.profile {
  display: flex;
  height: 100vh;

  .container {
    flex: 6;

    .search {
      text-align: center;

      .search-box {
        background: #a09e9e;
        text-align: center;
        padding: 1rem;
        border-radius: 5px;

        button,
        input {
          border: none;
          padding: 0.2rem;
          background-color: transparent;
        }

        .search-icon {
          font-size: 1.2rem;
          margin-right: 10px;
        }
      }
    }

    .flex-product {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

// Product Style
.main-prod {
  background: #d1d1d1;
  .product-container {
    background: #a09e9e;
    display: block;
    margin: 1rem;
    width: 210px;
    border-radius: 5px;
    .productImg {
      .img {
        width: 210px;
        height: 150px;
      }
    }

    .footer {
      display: flex;
      justify-content: space-between;
      padding: 0.7rem 0.5rem 0.7rem 0;
      padding-left: 1rem;
      text-align: center;

      .deleteBtn,
      .editBtn {
        color: #000;
        border-radius: 5px;
        padding: 0.3rem;
        width: 70px;
        text-decoration: none;
      }

      .icon {
        margin-right: 0.33rem;
        font-size: 13px;
      }
      .editBtn {
        background: #fdfdfe;
        text-align: center;
      }

      .deleteBtn {
        background: #fdfdfe;
        text-decoration: none;
        border: none;
        text-align: center;
      }
    }
  }
}
